<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Tracer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .modal-body{
            word-break: break-all;
        }
    </style>
</head>

<body>
    <h2 class="mt-5 mb-5" style="text-align: center;">New Members FollowUp Details</h2>
    <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">College</th>
                <!-- <th scope="col">E-Mail</th> -->
                <th scope="col">Status</th>
                <th scope="col">Called Time</th>
                <th scope="col">Image</th>
                <!-- <th scope="col">Description</th> -->
            </tr>
          </thead>
          <tbody>
            {% for member in context %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="#" data-toggle="modal" data-target="#exampleModal{{member.id}}"><strong>{{member.member_name}}</strong></a></td>
                <td>{{member.address}}</td>
                <td>{{member.college}}</td>
                <!-- <td>{{member.mail}}</td> -->
                <td>{{member.status}}</td>
                <td>{{member.called_time}}</td>
                <td>{{member.image_recieved}}</td>
                <!-- <td>{{member.description|truncatechars:9}}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
    <!-- Modal -->
    {% for member in context %}
    <div class="modal fade" id="exampleModal{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ member.member_name}} - [ Description ]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{member.description}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>